
.list {
    list-style: none;
}

.link {
    text-decoration: none;
  }

:root {
    --main-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-color: #E7E9FC;
    --focused-links-color: #4D5AE5;
    --helper-text-color: #8E8F99;
    --hairlines-color: #E7E9FC;
    --light-background-color: #F4F4FD;
    --valid-fields-color: #31D0AA;
    --background-color: #fff;
    --main-font: Roboto, sans-serif;
} 

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }


/* Header */

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-first {
    color: #2E2F42;
}

.header-link {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 
.contakts-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;   
}

.logo-first:hover,
.logo-first:focus,
.header-link:hover,
.header-link:focus,
.contakts-link:hover,
.contakts-link:focus {
    color:#4D5AE5
}

/* Mein */


button {
    color: #fff;
    background-color: #4D5AE5;
 }
/* Section Description*/




.description {
    background-color: #fff;
}

.description-title .work {
    color: #2E2F42;
}

.description-benefits {
    color: #434455;
}
/* Section Team */
.team {
    background-color: #F4F4FD;
}
.team-title .name {
    color: #2E2F42;
}

.direction {
    color: #434455;
}
/* Footer */

.logo-second {
    color: #F4F4FD;
}
.wish {
    color: #E7E9FC;
}

/* Стили для портфолио */

.but {
    color : #4D5AE5;
    background-color: #E7E9FC;
}

.but:hover,
.but:focus {
    color : #fff;
    background-color: #4D5AE5;  
}






/* цвет основного текста #2E2F42 */
/* вторичный цвет текста #434455 */
/* акцент на макете WEB в heder и footer #4D5AE5*/
/* цвет текста в hero #fff*/
/* цвет studio в footer #F4F4FD */
/* цвет основного фона #fff */
/* цвет вторичного фона #F4F4FD */
/* цвет фона в hero и footer #2E2F42 */